/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "Nunito";
    src: url('../public/static/Nunito-VariableFont_wght.ttf');
} */

:root {
  --white-primary: #fafafa;
  --black-accent: #0f0f0f;
}

body {
  background-color: var(--white-primary);
  color: var(--black-accent);
}




  

